//--------------------------------------------------------------
// Color Variables
//--------------------------------------------------------------
$color-alabaster: #fafafa;
$color-black: #000;
$color-gainsboro: #ddd;
$color-gallery: #f0f0f0;
$color-light-gray: #d1d1d1;
$color-white: #fff;
$color-white-smoke: #f5f5f5;